In [1]:
import pandas as pd
df = pd.read_csv("../data/athlete_events.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [11]:
mask_filtering=df[df['Season'] == 'Winter']

In [9]:
query=df.query("Season == 'Winter'")

In [12]:
mask_filtering==query

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
5,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
6,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
7,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
8,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271112,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271113,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271114,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False
271115,True,True,True,True,True,True,True,True,True,True,True,True,True,True,False

In [13]:
(mask_filtering==query)["ID"].sum()

48564

## check performance

In [14]:
%timeit df[df["Season"]=="Winter"]
%timeit df.query("Season == 'Winter'")

25.4 ms Â± 1.25 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)
19.2 ms Â± 166 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [15]:
df.query("Height > 180")

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [16]:
%timeit df[(df["Sex"]=="F") & (df["Height"]>180) & (df["NOC"] == "SWE")]
%timeit df.query("Sex == 'F' & Height >180 & NOC == 'SWE' ")

29.3 ms Â± 1.34 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)
19.5 ms Â± 712 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [17]:
# from panda 2 - pyarrow

df_arrow=df.convert_dtypes(dtype_backend="pyarrow")
df_arrow.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64[pyarrow]
 1   Name    271116 non-null  string[pyarrow]
 2   Sex     271116 non-null  string[pyarrow]
 3   Age     261642 non-null  int64[pyarrow]
 4   Height  210945 non-null  int64[pyarrow]
 5   Weight  208241 non-null  double[pyarrow]
 6   Team    271116 non-null  string[pyarrow]
 7   NOC     271116 non-null  string[pyarrow]
 8   Games   271116 non-null  string[pyarrow]
 9   Year    271116 non-null  int64[pyarrow]
 10  Season  271116 non-null  string[pyarrow]
 11  City    271116 non-null  string[pyarrow]
 12  Sport   271116 non-null  string[pyarrow]
 13  Event   271116 non-null  string[pyarrow]
 14  Medal   39783 non-null   string[pyarrow]
dtypes: double[pyarrow](1), int64[pyarrow](4), string[pyarrow](10)
memory usage: 46.4 MB

In [18]:
%timeit df_arrow[(df["Sex"]=="F") & (df_arrow["Height"]>180) & (df_arrow["NOC"] == "SWE")]
%timeit df_arrow.query("Sex == 'F' & Height >180 & NOC == 'SWE' ")

19.2 ms Â± 536 Âµs per loop (mean Â± std. dev. of 7 runs, 10 loops each)
17.8 ms Â± 201 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)